# Каждый четный час - получение нового расписания/преподавателей/аудиторий
0 */2 * * * /usr/bin/curl http://keeper:3000/parse_job

# Полночь 1 и 15 числа - обновление списка групп
0 0 1,15 * * /usr/bin/curl http://parser:3000/groups/reindex